<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading" ng-bind-html="page_title"></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cliente</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Prazo</th>
                                <th>Gerente?</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="o in projects | itemsPerPage: projectsPerPage" total-items="totalProjects" current-page="pagination.current">
                                <td>{{ o.name }}</td>
                                <td>{{ o.client.data.name }}</td>
                                <td>{{ o.status }}</td>
                                <td>{{ o.progress }}</td>
                                <td>{{ o.due_date | dateBr }}</td>
                                <td></td>
                                <td>
                                    <a ng-href="#/projetos/{{ o.id }}" >Ver</a> |
                                    <a ng-href="#/projetos/{{ o.id }}/editar" >Editar</a> |
                                    <a ng-href="#/projetos/{{ o.id }}/deletar" >Deletar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>