<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_title }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nome</label>

                        <div class="col-md-6">
                            <p>{{ project.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Descriçao</label>

                        <div class="col-md-6">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Progresso</label>

                        <div class="col-md-6">
                            <p>{{ project.progress }}%</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Proprietário</label>

                        <div class="col-md-6">
                            <p>{{ project.owner }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status</label>

                        <div class="col-md-6">
                            <p>{{ project.status }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Descrição</label>

                        <div class="col-md-6">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Estado</label>

                        <div class="col-md-6">
                            <p>{{ project.status }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>