<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_title }}</div>
                <div class="panel-body">
                    <p>Deseja realmente remover <strong>{{project_member.user.data.name}}</strong> do projeto</p>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-danger" ng-click="delete()">{{ btn_text }}</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>