<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_title }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nome</label>

                        <div class="col-md-6">
                            <p>{{ task.name }} </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Estado</label>

                        <div class="col-md-6">
                            <p>{{ task.status }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Criada em</label>

                        <div class="col-md-6">
                            <p>{{ task.created_at.date | dateBrCHora }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Prazo</label>

                        <div class="col-md-6">
                            <p>{{ task.due_date | dateBr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>