<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_title }}</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in notes">
                                <td>{{ o.title }}</td>
                                <td>{{ o.note | limitTo: 50 }}...</td>
                                <td>
                                    <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.id }}" >Ver</a> |
                                    <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.id }}/edit" >Editar</a> |
                                    <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.id }}/delete" >Deletar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>