<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_title }}</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Link</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in project_files">
                                <td>{{ o.name }}</td>
                                <td>{{ o.description | limitTo: 50 }}...</td>
                                <td>
                                    <!--<a ng-href="#/project/{{ o.project_id }}/files/{{ o.file_id }}/download" target="_blank" >Download</a>-->
                                    <project-file-download id-project="{{o.project_id}}" id-file="{{o.file_id}}"></project-file-download>
                                </td>
                                <td>
                                    <a ng-href="#/project/{{ o.project_id }}/files/{{ o.file_id }}" >Ver</a> |
                                    <a ng-href="#/project/{{ o.project_id }}/files/{{ o.file_id }}/edit" >Editar</a> |
                                    <a ng-href="#/project/{{ o.project_id }}/files/{{ o.file_id }}/delete" >Deletar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>